div.hero {
    background-image:       url(../images/collector-logo.png);
    background-repeat:      no-repeat;
    background-attachment:  fixed;
    background-position: 10px 10px;
    height: 57px;
    width: 280px;
    float: left;
}

#status {
    /*width: 100%;*/
    height: 57px;
    padding-left: 280px;
    /*border: black 2px dotted;*/
    font: 18pt "Impact", Verdana, sans-serif;
    color: #6d6e71;
    line-height: 57px;
}

input[type=checkbox] {
    width: 12px;
}

p.tos{
    margin: -22px 0px 0px 28px;
    width: 500px;
    vertical-align: top;
}

p.note {
    width: 500px;
    font-size: 10pt;
}

.sign_in_with_twitter {
      background: white url(../images/sign-in-with-twitter_169x27.png) no-repeat top;
      border: none;
      width: 169px;
      height: 27px;
      color:white;
}

.avatar {
    float: left;
    padding: 4px;
}

.twitter_profile {
    font-size: 10pt;
}

img.bird {
    height: 25px;
    border: none;
    margin: 7px -4px -7px 0px;
}

.clear {
    display: block;
}

.tabs button.save {
    display: block;
    float: left;
}


.clear:after, .tabs button:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


label {
    font: 14pt "Impact", Verdana, sans-serif;
    color: #6C6C6C;
    margin-top: 8px;
}

p, p * {
    color: #6C6C6C;
}

div.hero .green {
    /*color: #8EB63E;*/
    color: #6C6C6C;
}

div.tabs {
    min-width: 545px;
}

.tabs label, .tabs input, .tabs select {
    display: block;
    width: 500px;

}


.tabs .status {
    font: 12pt "Impact", Verdana, sans-serif;
    color: #6C6C6C;
    line-height: 25pt;
    margin-left: 71px;
    height: 30px;
}