div.hero {
    background-image:       url(../images/learning-registry-logo-ds.png);
    background-repeat:      no-repeat;
    background-attachment:  fixed;
    background-position:    left top;
    height: 120px;
    font: 48pt "Impact", Verdana, sans-serif;
    padding-left: 300px;
    /*color: #0D6DAB;*/
    color: #6C6C6C;
}

input[type=checkbox] {
    width: 12px;
}

p.tos{
    margin: -22px 0px 0px 28px;
    width: 500px;
    vertical-align: top;
}

p.note {
    width: 500px;
    font-size: 10pt;
}

.sign_in_with_twitter {
      background: white url(../images/sign-in-with-twitter_0.png) no-repeat top;
      width: 450px;
      height: 72px;
      color:white;
}

.avatar {
    float: left;
    padding: 4px;
}

.twitter_profile {
    font-size: 10pt;
}

img.bird {
    height: 25px;
    border: none;
    margin: 7px -4px -7px 0px;
}

.clear {
    display: block;
}

.clear::after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


label {
    font: 14pt "Impact", Verdana, sans-serif;;
    color: #6C6C6C;
    margin-top: 8px;
}

p, p * {
    color: #6C6C6C;
}

div.hero .green {
    /*color: #8EB63E;*/
    color: #6C6C6C;
}

div.tabs {
    min-width: 545px;
}

.tabs label, .tabs input, .tabs select {
    display: block;
    width: 500px;

}

#status {
    width: 100%;
    height: 50px;
}