html {
    width: 516px;
    height: 600px;
}

body {
    width: 500px;
    height: 600px;
    font: 10pt Verdana, sans-serif;
}

.edit {
    color: #7CB440;
    font: 8pt Verdana, sans-serif;
    cursor: hand;
}

.avatar {
    float: left;
    padding: 4px;
}

.twitter_profile {
    font-size: 13px;
}

img.bird {
    height: 25px;
    border: none;
    margin: 7px -4px -7px 0px;
}

.bio {
    font-size: 10pt;
    margin-bottom: 10px;
}

.bio span {
    text-transform: capitalize;
}

.hero {
    overflow: hidden;
}

.hero > img {
    float: left;
    margin-bottom: 10px;
}

.hero > div {
    margin-left: 50px;
}

div.rubric {
    margin-bottom: 50px;
}

span.statement {
    display: block;
    margin-left: 21px;
}

div.state_stds {
    margin-left: 25px;
}

.std-ratings {
    margin-top: 5px;
    margin-bottom: 5px;
}

.state_stds select {
    width: 408px;
}

.state_stds label {
    font-size: 12px;
}

.rating_desc {
    font-weight: bold;
    margin-left: 10px;
}

.treeview, .small_text {
    font-size: 10pt;
}

#rate-it label, #rate-it .field, .panel button, .panel > div, .Clear
{
    display: block;
}

.treeview {
    max-width: 440px;
/*    max-height:350px;*/
/*    overflow: auto;*/
}

.hidden {
    display: none;
}


.standards {
    display: none;
}


.radio input {
    float: left;
    height: 10px;
}

.radio label {
    font: 10pt Verdana, sans-serif;
}

.publish input[type=checkbox] {
    float: left;
    vertical-align: top;
}
.publish label[for=tos] {
    margin-left: 24px;
    vertical-align: top;
    font: 10pt Verdana, sans-serif;
}

.comments textarea {
    width: 466px;
}

button.next, button.submit {
    font-size: 15px;
    margin-top: 10px;
}

.comments div#tags_tagsinput.tagsinput {
    border-color: #999999;
    border-top-color: #737373;
}

.grades select {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
}

.other table {
    font-size: 10pt;
}

.Clear::after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

label, h4 {
    font: 12pt "Impact", Verdana, sans-serif;
}

.treeview.jstree a { white-space:normal !important; height: auto; padding:1px 2px; }

.treeview.jstree  li > ins { vertical-align:top; }

.treeview.jstree  .jstree-hovered, .treeview .jstree .jstree-clicked { border:0; }

div.pie {
    height: 150px;
    width: 150px;
    float: right;
}

table.piedata {
    float: left;
    background-color: white;
    border-color: white;
}

.piedesc .piehead {
    font-style: oblique;
    font-weight: bold;
}

.rubric_chart {
    font-size: 10pt;
}