body {
    width: 500px;
    height: 800px;
}

div.rubric {
    margin-bottom: 50px;
}

.rating_desc {
    font-weight: bold;
    margin-left: 10px;
}

.treeview, .small_text {
    font-size: 10pt;
}

#rate-it label, #rate-it .field, .panel button, .panel > div, .Clear
{
    display: block;
}

.treeview {
    max-width: 440px;
/*    max-height:350px;*/
/*    overflow: auto;*/
}

.hidden {
    display: none;
}


.standards {
    display: none;
}


.radio input {
    float: left;
    height: 10px;
}

.radio label {
    font: 10pt Verdana, sans-serif;
}

.grades select {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
}

.Clear::after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

label {
    font: 12pt "Impact", Verdana, sans-serif;
}

.treeview.jstree a { white-space:normal !important; height: auto; padding:1px 2px; }

.treeview.jstree  li > ins { vertical-align:top; }

.treeview.jstree  .jstree-hovered, .treeview .jstree .jstree-clicked { border:0; }
